<h3>Wilkommen!!</h3>

<ul>
	<% @posts.each do |post| %>
	  <li>
      <%= link_to '+', vote_post_path(post, vote: true), method: 'post' if logged_in? %>
      [ <%= post.total_votes %> ]
      <%= link_to '-', vote_post_path(post, vote: false), method: 'post' if logged_in? %>
      |
      <%= link_to post.title, post_path(post) %> (<%= link_to "edit", edit_post_path(post)%>)
      <br/>
      posted by marv <%= nice_date(post.created_at) %>
    </li>
	<% end %>
</ul>